body{
    box-sizing:border-box;
    background-color:#f6f8dc;
    color:#505050;
}
#container_header{
    position:relative;
    top:0px;
    width:100%;
    height:62px;
    padding-left:20px;
    padding-right:20px;
    background-color:white;
    color:#3A5A40;
    font-size:16px;
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-end;
    justify-content:space-around;
}
#clinicInfo{
    flex-basis:42%;
}
#logo2{
    flex-basis:66px;
}
#container_header_right{
    flex-basis:46%;
}
#date{
    display:inline-block;
    width:26%;
    margin-left:14%;
    text-align:center;
    vertical-align:bottom;
}
#greeting{
    display:inline-block;
    width:26%;
    text-align:center;
    vertical-align:bottom;
}
#logOut{
    display:inline-block;
    width:12%;
    padding:4px;
    margin:0 5%;
    text-align:center;
    border-radius:8px;
    border:1px solid #64c630;
}
#logOut:hover{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.placeholder{
    width:100%;
    height:25px;
    background-color:#f6f8dc;
}
.dash_content{
    position:relative;
    top:85px;
    width:100%;
    height:auto;
    padding:0 2%;
    background-color:#f6f8dc;
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-start;
    justify-content:space-around;
}

#menu ul{
    list-style: square outside url("../images/patient_icon.png");
    padding-top:5px;
    padding-right:5px;
}
#menu li{
    line-height:30px;
    font-size:16px;
    vertical-align:middle;
    color:#64C630;
}
li a:link{
    color:#64C630;
}
#menu{
    flex-grow:1;
    margin-right:2%;
    border-right:2px solid #ddd;
}
#reminder{
    flex-grow:5;
    flex-basis:30%;
    padding:0px 0px 0px 15px;
}
#inbox{
    flex-grow:2.8;
    flex-basis:18%;
}
.reminder_box{
    width:85%;
    height:35px;
    padding:6px;
    margin:20px 0px;
    border-radius:8px;
    border:1px solid #707070;
}
.reminder_box span{
    line-height:35px;
    font-size:16px;
    padding-left:10px;
}
.reminder_box:hover{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.conversation_box{
    width:80%;
    height:100%;
    padding:5px;
    overflow:auto;
    border-radius:8px;
    border:1px solid #707070;
}
.conversation_item{
    width:95%;
    height:100%;
    overflow:hidden;
    padding:10px 5px;
    border-bottom:1px solid #ddd;
    display:grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows:20px 60px 20px;
    grid-template-areas:"time p_name"
                        "p_icon conver"
                        "date conver"
}
.item1{
    grid-area:time;
    text-align:center;
    line-height:20px;
}
.item2{
    grid-area:p_name;
    text-align:left;
    line-height:20px;
}
.item3{
    grid-area:p_icon;
    text-align:center;
}
.item3 img{
    padding-top:15px;
    line-height:20px;
}
.item4{
    grid-area:conver;
    text-align:justify;
    padding-top:8px;
    overflow:auto;
    word-wrap:break-word;
}
.item5{
    grid-area:date;
    text-align:center;
    line-height:20px;
}
