/* login.css for login.php */
/*** si
te-wide ***/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap');
html {
    background-color: #FCFDF2;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #505050;
    padding: 0px;
    margin: 0px;
}

header {
    /* position: fixed;
    width: 100vw;
    height: 131.41px;
    top: 0; */
    background-color: white;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #3a5a40;
}

hr {
    width: 60%;
    background-color: #707070;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
}

main {
    height: 100vh;
    padding: 0px;
}

form {
    background-color: inherit;
}

a:link {
    color: #f0952d;
  }
  
a:hover {
    color: #aedf2a;
  }
  
a:visited {
    color: #3a5a40;
  }


p {
    padding: 10px;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

input {
    display: block;
    padding: 12px 60px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border-color: #b9b9b9;
    border-width: 0.5px;
    font-size: 1rem;
    text-align: center;
    color: #505050;
}

fieldset {
    border: none;
}

footer {
    background-color: inherit;
}

/*** classes ***/
.h-center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallText {
    font-size: 0.8rem;
}

.medText{
    font-size: 1rem;
    font-weight: 500;
}

/*** ids ***/
#please {
    padding-top: 40px;
}

#logo {
    padding: 20px;
    width: 22%;
    min-width: 200px;
}

#btn-submit {
    display: block;
    float: right;
    margin-right: 30px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #64C630;
    cursor: pointer;
}

#btn-submit:hover {
    background-color: #f0952d;
}

#noAccountP {
    margin-top: 50px;
}

#forgotA {
    margin-top: -30px;
    margin-bottom: 80px;
}

/* #afterHeader{
    margin-top: 132px;
} */